// .s-content{
//   background: linear-gradient(180deg, hsl(25 100% 97%) 0%, hsl(25 60% 95%) 100%);
// }

.container{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 20px;
}
.logo-svg {
  width: 300px !important;
}

.dc{
  background-color: rgb(250, 243, 243) !important;
}

.price-amount {
  font-size: 1.5rem;
  font-weight: 800;
  color: #212529;
  line-height: 1;
}
