<form [formGroup]="userBasicFrom">
  <div class="form-flex flex-wrap -mx-3">
    <!-- First Name -->
    <div class="flex flex-wrap -mx-3">
      <div class="w-full px-6 md:w-1/2">
        <div class="form-group mb-6">
          <label for="firstName" class="mb-1"
            >First Name <span class="text-red-600">*</span>
          </label>
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            class="w-full px-4 py-2.5 rounded-xl border border-gray-300 focus:border-[#5c142b] focus:ring-2 focus:ring-[#5c142b]/20 outline-none text-sm bg-white text-gray-800 transition-all"
            [ngClass]="{
              errorBorder: isSubmitted && userBasicFrom.get('firstName')?.errors
            }"
          />
          <div
            class="text-xs text-red-600 mt-1"
            *ngIf="isSubmitted && userBasicFrom.get('firstName')?.errors"
          >
            First name is required
          </div>
        </div>
      </div>

      <div class="w-full px-6 md:w-1/2">
        <!-- Last Name -->
        <div class="form-group mb-6">
          <label for="lastName text-sm" class="mb-1"
            >Last Name <span class="text-red-600">*</span></label
          >
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="w-full px-4 py-2.5 rounded-xl border border-gray-300 focus:border-[#5c142b] focus:ring-2 focus:ring-[#5c142b]/20 outline-none text-sm bg-white text-gray-800 transition-all"
            [ngClass]="{
              errorBorder: isSubmitted && userBasicFrom.get('lastName')?.errors
            }"
          />
          <div
            class="text-xs text-red-600 mt-1"
            *ngIf="isSubmitted && userBasicFrom.get('lastName')?.errors"
          >
            Last name is required
          </div>
        </div>
      </div>
      <div class="w-full px-6 md:w-1/2">
        <!-- Date of Birth -->
        <div class="form-group mb-6">
          <label for="dateOfBirth text-sm" class="mb-1">
            Date of Birth <span class="text-red-600">*</span>
          </label>
          <input
            type="date"
            id="dateOfBirth"
            formControlName="dateOfBirth"
            class="w-full px-4 py-2.5 rounded-xl border border-gray-300 focus:border-[#5c142b] focus:ring-2 focus:ring-[#5c142b]/20 outline-none text-sm bg-white text-gray-800 transition-all"
            [ngClass]="{
              errorBorder:
                isSubmitted && userBasicFrom.get('dateOfBirth')?.errors
            }"
          />
          <div
            class="text-xs text-red-600 mt-1"
            *ngIf="isSubmitted && userBasicFrom.get('dateOfBirth')?.errors"
          >
            <ng-container>
              Date of birth is required
            </ng-container>
            <ng-container>
              You must be at least 18 years old
            </ng-container>
          </div>
        </div>
      </div>
      <div class="w-full px-6 md:w-1/4">
        <div class="form-group mb-6">
          <label for="height" class="mb-1"
            >Height (Cm) <span class="text-red-600">*</span></label
          >
          <input
            type="number"
            id="height"
            formControlName="height"
            class="w-full px-4 py-2.5 rounded-xl border border-gray-300 focus:border-[#5c142b] focus:ring-2 focus:ring-[#5c142b]/20 outline-none text-sm bg-white text-gray-800 transition-all"
            maxlength="3"
            oninput="this.value = this.value.slice(0, 3)"
            [ngClass]="{
              errorBorder: isSubmitted && userBasicFrom.get('height')?.errors
            }"
          />
          <div
            class="text-xs text-red-600 mt-1"
            *ngIf="isSubmitted && userBasicFrom.get('height')?.errors"
            class="error-message"
          >
            <div
              class="text-xs text-red-600 mt-1"
              *ngIf="isSubmitted && userBasicFrom.get('height')?.errors?.['required']"
            >
              Height is required
            </div>
            <div
              class="text-xs text-red-600 mt-1"
              *ngIf="isSubmitted && userBasicFrom.get('height')?.errors?.['min']"
            >
              Invalid height
            </div>
          </div>
        </div>
      </div>
      <div class="w-full px-6 md:w-1/4">
        <div class="form-group mb-6">
          <label for="weight" class="mb-1"
            >Weight (Kg) <span class="text-red-600">*</span>
          </label>
          <input
            type="number"
            id="weight"
            formControlName="weight"
            class="w-full px-4 py-2.5 rounded-xl border border-gray-300 focus:border-[#5c142b] focus:ring-2 focus:ring-[#5c142b]/20 outline-none text-sm bg-white text-gray-800 transition-all"
            maxlength="3"
            oninput="this.value = this.value.slice(0, 3)"
            [ngClass]="{
              errorBorder: isSubmitted && userBasicFrom.get('weight')?.errors
            }"
          />
          <div
            *ngIf="isSubmitted && userBasicFrom.get('weight')?.errors"
            class="error-message"
          >
            <div
              class="text-xs text-red-600 mt-1"
              *ngIf="isSubmitted && userBasicFrom.get('weight')?.errors?.['required']"
            >
              Weight is required
            </div>
            <div
              class="text-xs text-red-600 mt-1"
              *ngIf="isSubmitted && userBasicFrom.get('weight')?.errors?.['min']"
            >
              Invalid weight
            </div>
          </div>
        </div>
      </div>

      <div class="w-full px-6">
        <div class="mt-6 image-upload">
          <label class=""
            >Profile Image <span class="text-red-600">*</span>
          </label>
          <div class="text-xs text-gray-500 mb-1">
            You can upload a maximum of 5 images. Each image must be clear and
            between 250 KB and 5 MB in size.
          </div>
          <div
            class="rounded p-6"
            [ngClass]="
              images.length === 0 && isSubmitted ? 'errorBorder' : 'border'
            "
          >
            <div class="dot-border p-2">
              <div class="flex flex-wrap gap-2" id="image-max-w-7xl mx-auto px-6 sm:px-6 lg:px-8">
                <!-- Render uploaded images with remove button -->
                <div
                  class="position-relative img-box"
                  *ngFor="let img of images; let i = index"
                >
                  <img
                    [src]="img"
                    class="object-cover border rounded"
                    width="80"
                    height="80"
                  />
                  <button
                    class="inline-flex items-center justify-center px-4 py-2 rounded-xl text-sm font-medium transition-all cursor-cursor-pointer inline-flex items-center justify-center px-4 py-2 rounded-xl text-sm font-medium transition-all cursor-cursor-pointer-sm position-absolute top-0 end-0 p-1 rounded-full"
                    (click)="removeImage(i)"
                    style="transform: translate(30%, -30%)"
                  >
                    <i
                      class="fa fa-window-close text-md text-red-600"
                      aria-hidden="true"
                    ></i>
                  </button>
                </div>
                <div
                  *ngIf="images.length < 5"
                  class="img-box border rounded cursor-pointer flex justify-center items-center"
                  style="width: 80px; height: 80px"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  <span class="text-md font-bold" *ngIf="!isUploading">+</span>
                  <div
                    class="spinner-border spinner-border-sm text-light mr-1"
                    role="status"
                    *ngIf="isUploading"
                  ></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Hidden File Input -->

          <div
            class="text-xs text-red-600 mt-1"
            *ngIf="isSubmitted && images.length === 0"
          >
            Image is required
          </div>
          <div class="form-check mt-1">
            <input
              class="form-check-input small-check"
              type="checkbox"
              [value]="true"
              id="flexCheckChecked"
              formControlName="isVisible"
            />
            <label class="form-check-label ml-2 text-sm" for="flexCheckChecked">
              Make it visible.
            </label>
          </div>
        </div>
      </div>
      <div class="w-full px-6 md:w-full" *ngIf="!hideGender">
        <div class="form-group mb-6 mt-6">
          <label class="mb-1">Gender <span class="text-red-600">*</span> </label>
          <div class="flex">
            <div class="mr-4">
              <div class="form-check">
                <input
                  class="form-check-input cursor-pointer"
                  type="radio"
                  name="gender"
                  id="genderMale"
                  [value]="1"
                  formControlName="gender"
                />
                <label class="form-check-label ml-2 cursor-pointer" for="genderMale"
                  >Male</label
                >
              </div>
            </div>
            <div class="mr-4">
              <div class="form-check">
                <input
                  class="form-check-input cursor-pointer"
                  type="radio"
                  name="gender"
                  id="genderFemale"
                  [value]="2"
                  formControlName="gender"
                />
                <label class="form-check-label ml-2 cursor-pointer" for="genderFemale"
                  >Female</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full px-6">
        <!-- Marital Status -->
        <div class="form-group mb-6 mt-6">
          <label class="mb-1"
            >Marital Status <span class="text-red-600">*</span>
          </label>

          <div class="flex flex-wrap -mx-3">
            <div class="w-1/2 px-6 md:w-1/4 mt-2">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="maritalStatus"
                  id="maritalSingle"
                  [value]="1"
                  formControlName="maritalStatus"
                  checked
                />
                <label
                  class="form-check-label cursor-pointer ml-2"
                  for="maritalSingle"
                >
                  Single
                </label>
              </div>
            </div>

            <div class="w-1/2 px-6 md:w-1/4 mt-2">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="maritalStatus"
                  id="maritalMarried"
                  [value]="2"
                  formControlName="maritalStatus"
                />
                <label
                  class="form-check-label cursor-pointer ml-2"
                  for="maritalMarried"
                >
                  Married
                </label>
              </div>
            </div>
            <div class="w-1/2 px-6 md:w-1/4 mt-2">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="maritalStatus"
                  id="Divorced"
                  [value]="3"
                  formControlName="maritalStatus"
                />
                <label class="form-check-label cursor-pointer ml-2" for="Divorced">
                  Divorced
                </label>
              </div>
            </div>
            <div class="w-1/2 px-6 md:w-1/4 mt-2">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="maritalStatus"
                  id="Widowed"
                  [value]="4"
                  formControlName="maritalStatus"
                />
                <label class="form-check-label cursor-pointer ml-2" for="Widowed">
                  Widowed
                </label>
              </div>
            </div>
            <div class="w-1/2 px-6 md:w-1/4 mt-2">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="maritalStatus"
                  id="Separated"
                  [value]="5"
                  formControlName="maritalStatus"
                />
                <label class="form-check-label cursor-pointer ml-2" for="Separated">
                  Separated
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    class="inline-flex items-center justify-center px-4 py-2 rounded-xl text-sm font-medium text-white bg-red-600 hover:bg-red-700 shadow-sm transition-all mr-2 w-full mt-8"
    (click)="next()"
    [disabled]="isLoading"
  >
    <div
      class="spinner-border spinner-border-sm text-light mr-1"
      *ngIf="isLoading"
    ></div>
    {{ isEditFrom ? "UPDATE" : "NEXT" }}
  </button>
</form>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Image Cropper</h5>
        <button
          type="button"
          class="inline-flex items-center justify-center px-4 py-2 rounded-xl text-sm font-medium transition-all cursor-cursor-pointer-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="close-inline-flex items-center justify-center px-4 py-2 rounded-xl text-sm font-medium transition-all cursor-cursor-pointer"
        ></button>
      </div>
      <div class="modal-body">
        <app-image-cropper
          (imageCroppedEvent)="onImageCropped($event)"
        ></app-image-cropper>
      </div>
    </div>
  </div>
</div>
