

.dot-border {
  border: 2px dotted #1F2937;
  border-radius: 8px;
}

.image-upload{
  .img-box{
    width: 80px;
    height: 80px;
  }
}
::ng-deep .progress, .progress-stacked {
  height: 7px !important;
}
.small-check{
  height: 18px !important;
  width: 18px !important;
}
