<div class="flex justify-center my-6">
  <form [formGroup]="otpForm">
    <div class="flex gap-3 justify-center">
      <ng-container *ngFor="let control of inputControls; let i = index; trackBy: trackByFn">
        <input
          type="text"
          class="w-12 h-14 text-center text-xl font-bold rounded-xl border border-amber-300/60 bg-white text-gray-900 focus:border-[#5c142b] focus:ring-2 focus:ring-[#5c142b]/20 outline-none shadow-sm transition-all"
          maxlength="1"
          [formControlName]="control"
          (input)="onInput($event, i)"
          (keydown)="onKeyDown($event, i)"
          (paste)="onPaste($event)"
          autocomplete="off"
          inputmode="numeric"
          pattern="[0-9]*"
        />
      </ng-container>
    </div>
    <div *ngIf="isLoading" class="spinner-overlay">
      <div class="m-spinner"></div>
    </div>
  </form>
</div>
